{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Total</th>
                <th>Buy/Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock['added_on'] }}</td>
                <td>{{ stock['symbol'] }}</td>
                <td>{{ "$%.2f"|format(stock['price']) }}</td>
                <td>{{ stock['amount'] }}</td>
                <td>{{ "$%.2f"|format(stock['amount'] * stock['price']) }}</td>
                <td>{{ stock['type'].upper() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
