{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <h1>Settings</h1>
    <hr>
    <h2> Change Password</h2>
    <br>
    <form action="/settings" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="oldpass" placeholder="Old Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="newpass" placeholder="New Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
